/*
    Author: Li Weiqi
    Course: CIS133DA
    Lesson: 11
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
}

#wrapper {
    background-color: #ddd;
    margin-top: 50px;
}

/* Header Styles */
header {
    background: black url(../images/background.jpg) no-repeat center;
    background-size: cover;
    color: white;
    margin: 0;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0;
}

/* Navigation Bar Styles */

nav ul {
    list-style-type: none;
    background-color: #2d3437;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
    background-color: #135367;
    color: #ffffff;
}

nav .right {
    background-color: #E1693D;
    color: #000000;
    float: right;
}

nav .active {
    background-color: #135367;
    color: #000000
}

nav {
    top: 0;
    position: absolute;
    width: 100%;
}

/* Main Styles */
main {
    padding: 20px;
    width: 900px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

/*Table Styles **/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: #000000 thin solid;
    background-color: #ffffff;
    padding: 5px;
}

th {
    background-color: #135367;
    color: #ffffff;
    padding: 10px;
    border-bottom: #000000 medium solid; /*Step #7*/
}

.left_label {
    border-right: #000000 medium solid; /*Step #8 - need to apply class to labels*/
}

/*Form Styles */

form {
    border: medium solid #2d3437;
    padding: 20px;
}

label {
    display: block;
    font-weight: bold;
    padding: 5px;
}

.widefield {
    width: 100%;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    margin: 10px 5px;
    padding: 5px 10px;
}

button:hover {
    background: #135367;
    color: white;
}

/* Footer Styles */
footer {
    background-color: #2d3437;
    color: white;
    padding: 20px;
    text-align: center;
}


footer a {
    color: white;
}

#resetMessage {
    visibility: hidden;
    font-weight: bold;
    color: red;
}